# Data ignores
*.csv
data/cdc/*.txt
data/cdc/*.zip
data/cdc/*.csv
data/clean/*.csv

# Model ignore
models/**

# R ignores
*.Rproj*
.Rhistory
.RData
.Ruserdata
.Rproj.user

# Python ignores
venv/
.ipynb_checkpoints/
__pycache__/

# Misc
*.DS_Store
.vscode/
